<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Board Example</title>
    <link rel="stylesheet" href="/css/board.css">
</head>
<body>
<div class="container">
    <div class="header">Board Management</div>
    <table>
        <tr>
            <th>Create Post</th>
            <th>Delete Post</th>
            <th>Edit Post</th>
            <th>View Post</th>
        </tr>
        <tr>
            <td>
                <a href="createPost">
                    <button>게시판 글쓰기</button>
                </a>
            </td>
            <td>
                <a href="deletePost">
                    <button>게시판 글삭제</button>
                </a>
            </td>
            <td>
                <a href="editPost">
                    <button>게시판 글수정</button>
                </a>
            </td>
            <td>
                <form action="viewPost" method="post">
                    <label for="no">no:</label>
                    <input type="number" id="no" name="no" value="1">
                    <br><br>
                    <button type="submit">게시판 글보기</button>
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>