<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/create2.css">
</head>
<body>
<div class="container">
    <table>
        <tr>
            <td>
                회원가입 완료됨.<br>
<!--                <h3 th:text="${id}"></h3>           -->
<!--                <h3 th:text="${pw}"></h3>           -->
                    <h3 th:text="${memberVO.id}"></h3>
                    <h3 th:text="${memberVO.pw}"></h3>
                <!-- memberVO.getPw()을 프린트해라 -->
            </td>
        </tr>
        <tr>
            <td>
                <a href="/member">
                    <button>회원정보 페이지로</button>
                </a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>