<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>

<div layout:fragment="content">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10">
                <div class="card shadow-sm">
                    <div class="card-header bg-success text-white text-center">
                        <h2>게시판 목록</h2>
                    </div>
                    <div class="card-body">
                        <!-- 검색하는 부분 -->
                        <div>

                        </div>

                        <table class="table table-hover table-bordered" style="background: white">
                            <thead class="bg-warning text-white">
                            <tr class="text-center">
                                <th scope="col">번호</th>
                                <th scope="col">제목</th>
                                <th scope="col">작성자</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="boardVO : ${list}" class="text-center">
                                <td>[[${boardVO.no}]]</td>
                                <td>
                                    <a th:href="@{/board/read(no=${boardVO.no})}" style="text-decoration: none; color: black;">
                                        [[${boardVO.title}]]
                                    </a>
                                </td>
                                <td>[[${boardVO.writer}]]</td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- 로그인 되었을 때 글작성 버튼 -->
                        <div th:if="${session.id != null}" class="d-grid mt-4">
                            <a href="/board/create" class="btn btn-secondary btn-lg">
                                새 게시글 작성
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>






