<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/out.js"></script>
    <script>
        call()
    </script>
    <link rel="stylesheet" href="/css/out.css">
</head>
<body style="background-color: yellow">
<h1>welcome SPRING PAGE~~~!</h1>
<!--spring boot에서는 html 파일을 클라이언트가 직접 부를 수 없음.
    a, form, location.href를 이용해서 html파일을 부를 수 없음.
    무조건 컨트롤러를 거쳐서 불러주어야 한다.
-->
<a href="test">test call</a> <br>
<a href="member">member call</a> <br>
<a href="board">board call</a> <br>
<img src="/img/new.png">

</body>
</html>