<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>

<div layout:fragment="content">
    <!-- 로그인 폼 -->
    <div th:if="${session.id == null}" class="container mt-5">
        <h4  class="row justify-content-center" style="color: red;">[[${result}]]</h4>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h2 class="card-title text-center mb-4">회원 로그인</h2>
                            <form action="/member/login" method="post" th:action="@{/member/login}" th:method="post">
                                <div class="mb-3">
                                    <label for="id" class="form-label">ID:</label>
                                    <input type="text" id="id" name="id" class="form-control" th:value="${id}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="pw" class="form-label">PW:</label>
                                    <input type="password" id="pw" name="pw" class="form-control" required>
                                </div>
                                <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-primary btn-lg">회원로그인</button>
                                    <a href="/member/create" class="btn btn-secondary btn-lg">회원가입</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 세션이 있을 때 화면, 로그인 성공했을 때 화면 -->
    <div th:if="${session.id != null}" class="container mt-5">
        <div class="alert alert-success text-center">
            <img src="/img/bye.png" class="img-thumbnail"><br>
            <strong>[[${session.id}]]</strong>님! 환영합니다.!
           <!--  <strong th:text="${session.id}"></strong>님! 환영합니다.! -->
            <br><br><br>
            <table class="table mx-auto text-center">
                <tr>
                    <td>
                        <form method="post" action="/member/read">
                            <input type="hidden" name="id" th:value="${session.id}">
                           <button class="btn btn-primary btn-lg" style="height: 100px">회원정보보기</button>
                        </form>
                    </td>
                    <td>
                        <a th:href="@{/member/update(id=${session.id})}">
                            <button class="btn btn-warning btn-lg" style="height: 100px">회원정보수정</button>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/member/delete(id=${session.id})}">
                        <!-- delete요청할 때 필요한 데이터를 보내주어야한다.
                            /member/delete?id=apple
                                                    -->
                            <button class="btn btn-danger btn-lg" style="height: 100px">회원탈퇴하기</button>
                        </a>
                    </td>
                    <td>
                        <a href="/member/logout">
                            <button class="btn btn-info btn-lg" style="height: 100px">회원로그아웃</button>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>
