<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>

<div layout:fragment="content">
    <!-- 로그인 폼 -->
    <div th:if="${session.id == null}" class="container mt-5">
        <h4  class="row justify-content-center" style="color: red;">[[${result}]]</h4>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h2 class="card-title text-center mb-4">회원 로그인</h2>
                            <form action="/member/login" method="post" th:action="@{/member/login}" th:method="post">
                                <div class="mb-3">
                                    <label for="id" class="form-label">ID:</label>
                                    <input type="text" id="id" name="id" class="form-control" th:value="${id}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="pw" class="form-label">PW:</label>
                                    <input type="password" id="pw" name="pw" class="form-control" required>
                                </div>
                                <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-primary btn-lg">회원로그인</button>
                                    <a href="/member/create" class="btn btn-secondary btn-lg">회원가입</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>